<div class="page-content-container">
  <h3>{{title}}</h3>

  <form class="add-form" method="POST" action="">
    <p>
      <label for="name" >Boots Name:</label>
      <input type="text" placeholder="Bliss Boots..." name="name" value="{{boots.name}}">
    </p>
    <p>
    <label for="terrain riding_level" >Terrain:</label>
    <select name="terrain">
        {{#if boots.terrain}}
        <option selected hidden value="{{boots.terrain}}">{{boots.terrain}}</option>
        {{/if}}
        <option value="All Mountain">All Mountain</option>
        <option value="Park">Park</option>
        <option value="Powder">Powder</option>
        <option value="Backcountry">Backcountry</option>
    </select>
    </p>
    <p>
      <label for="collections" >Collection:</label>
      <select name="collections">
        {{#if collection_selected}}
          <option selected hidden value="{{collection_selected._id}}"">{{collection_selected.name}}</option>
          {{else}}
           <option selected hidden >Select A Collection</option>
        {{/if}}
        {{#each collection_list}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </p>
    <p>
        <label for="stock">Stock:</label>
        <input type="Number" placeholder="1" name="stock" value="{{boots.stock}}">
    </p>
    <p>
        <label for="price">Price (USD):</label>
        <input type="Number" placeholder="1" name="price" value="{{boots.price}}">
    </p>
    <button class="submit">{{title}}</button>
    {{#if errors}}
    <ul>
      {{#each errors}}
        <li>{{this.msg}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </form>


</div>