<div class="page-content-container">
  <h3>{{title}}</h3>

  <form class="add-form" method="POST" action="">
    <p>
      <label for="name" >Collection Name:</label>
      <input type="text" placeholder="Powder Day 2023 Collection..." name="name" value="{{{collection.name}}}">
    </p>
    <p>
      <label for="description">Description:</label>
      <input type="text" placeholder="Brief description of the collection..." name="description" value="{{{collection.description}}}">
    </p>
    <p>
    <label for="gender">Gender:</label>
    <select name="gender">
        {{#if collection.gender}}
          <option selected hidden value={{collection.gender}}>{{collection.gender}}</option>
        {{/if}}
        <option value="Female">Female</option>
        <option value="Male">Male</option>
        <option value="Unisex">Unisex</option>
    </select>
    </p>
    <button class="submit">{{title}}</button>
    {{#if errors}}
    <ul>
      {{#each errors}}
        <li>{{this.msg}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </form>


</div>