<div class="page-content-container">
    <h3>{{title}}</h3>

    <h1>{{snowboard.name}}</h1>
    <p>{{snowboard.terrain}}</p>
    <p>{{snowboard.riding_level}}</p>
    <p>{{snowboard.stock}}</p>
    <p>${{snowboard.price}}</p>
    <a href={{snowboard.url}}><p>{{snowboard.collection}}</p></a>
</div>