<div class="page-content-container">
  <h3>{{title}}</h3>
    <p>{{message}}</p>
    <br>

    <div class="item-list">
    {{#if error}}
      <p>Error</p>
    {{else}}
      <a href='/snowboard/add'>Add Snowboard
        <span class="material-symbols-rounded">library_add</span>
      </a>
      <a href='/pattern'>See All Snowboard Patterns
        <span class="material-symbols-rounded">palette</span>
      </a>
      {{#each snowboard_list}}
      <div class="edit-del-btn-grp">
        <a href="{{this.url}}"><h3>{{inc @index}}. {{{this.name}}}</h3></a>
        <a href="{{this.url}}/update"><span class="material-symbols-rounded edit-del-btn">edit</span></a>
        <a href="{{this.url}}/delete"><span class="material-symbols-rounded edit-del-btn">delete</span></a>
      </div>
        <p>Terrain: {{this.terrain}}</p>
        <p>Riding Level: {{this.riding_level}}</p>
        <p>Inventory Stock: {{this.stock}}</p>
        {{!-- 'this' is optional? --}}
        <p>Price (USD): ${{price}}</p>

        <p>Available Pattern:

        {{!-- need to assign variable for this.pattern.length here because this.pattern.length doesn't work in the nested loop --}}
        {{assign 'pattern_length' this.pattern.length}}
        {{#each this.pattern}}
          {{this}} 
          {{#iflessthan @index @root.pattern_length }}
          |
          {{/iflessthan}}
        {{/each}}
        </p>

        {{#each this.collection}}
          <p>Collection: {{this}}</p>
        {{/each}}
        
      {{/each}}
    {{/if}}
    </div>
</div>
